@import "tailwindcss";
@import "swiper/css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-source-sans: "Source Sans 3", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-sans);
  --font-playfair: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-playfair);
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* GLOBAL WHITE */
  color: #000000;
  font-family: var(--font-playfair);
}


@keyframes sidebarIn {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-sidebar-in {
  animation: sidebarIn 0.6s ease-out forwards;
}
/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
